*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


body{


    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;



    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    background: transparent;
}

div{
    width: 400px;
    height: 400px;
    background-color: red;
    margin-bottom: 50px;

}
