<app-barra-navegacion [data]="info"> </app-barra-navegacion>

<body>

    <header>
        <img src="https://wallpapercave.com/wp/AamilBX.jpg" alt="" srcset="">
        <div class="informacion">
            <h2>La leyenda de zelda</h2>
            <div class="descripcion">
                <h3>EL juego mas esperado del mundo.</h3>
                <p>Actualmente es uno de los juegos mas populares</p>
            </div>
        </div>
    </header>
    <section></section>
    <footer></footer>
</body>

