<div class="marco">

    <div class="marco2">
        <div class="parte-baja">
            
        </div>
        <div class="parte-alta">
            <Span>Subir imagenes</Span>
            <form action="" class="subir">
                <input type="file" name="photo" id="imagenes" (change)="onFileChange($event)" #fileInput>
                <button><img src="" alt=""><label for="imagenes" ></label></button>
            </form>
        </div>
      
    </div>

    <div class="marco3">
        <div class="parte-alta">
            <img id="imagen" [src]="craftImagePreview" alt="craftUploaded" srcset="" >

        </div>
        <div class="parte-baja"></div>
    </div>

</div>