.carga{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.example-container {
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
  
  
    width: 100vw;
    height: 100vh;
}

.example-sidenav {
display: flex;
align-items: center;
justify-content: center;
width: 200px;
background: rgb(246, 47, 110);
border-right: 5px solid rgba(0, 0, 0, 0.586);
color: white;
}


body {
    font-family: Arial, sans-serif;
}


.chat-container {
    max-width: 400px;
    min-width: 300px;

    overflow-y: scroll;

    max-height: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.message {
    background-color: #f2f2f2;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    position: relative;
    
}

.message span{
    font-size: 10px;
}

.message .hora{
    position: absolute;
    right: 10px;
}

.message p{
    text-align:justify;
}


.user-message span{
    font-size: 10px;
}

.user-message .hora{
    position: absolute;
    left: 10px;
}

.user-message p{
    text-align:justify;
}



.user-message {
    background-color: #aaffaa;
    text-align: right;
    position: relative;

    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#message-input{
    width: 80%;
}

.marco-texto {
   
    width: 100%;
    height: auto;

    padding: 20px;
    display: flex;
    justify-content: center;
    align-self: center;

}


.caja{
    position: absolute;
    top: 50px;
    left: 200px;
    max-width: 400px;
    height: auto;
    border:10px double white;
    border-radius: 20px;
    background-color: brown;
}


.header{
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.header .titulo{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}


.header .integrantes{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    height: 15px;
}




.marco-texto2{
    position: absolute;
    
    top: 0;
    left:50px;

    width: 200px;
    height: 50px;
    background-color: brown;
    border: 10px double white;
    border-radius: 20px;

    padding: 5px;

    display: flex;
    justify-content: center;
    align-self: center;
}


.marco-texto3{
    position: absolute;
    top: 0;
    left:300px;


    width: 300px;
    height: 50px;
    background-color: brown;
    border: 10px double white;
    border-radius: 20px;

    padding: 5px;

    display: flex;
    justify-content: center;
    align-self: center;

}


.fecha{
    background-color: #f2f2f2;
    margin: 10px 0;
    border-radius: 5px;
    position: relative;

    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    text-align: center;
    height: 20px;
    background-color: gray;
}


