

<!--Chat-->
<div class="marco">
  <div class="login login-abierto">
  

    <div class="titulo"><h1 class="texto">El ultimo escondite</h1></div>
    

    <div class="marco-cajas">

      <div class="usuario">
        <input type="text" placeholder="Usuario">
      </div>
      
      <div class="password">
        <input type="text" placeholder="Contraseña">
        <i class="bi bi-eye-fill"></i>
      </div>


    </div>


    <div class="boton">
      <button>Login</button>
    </div>
    

  </div>
  <div class="barrera"></div>
  <div class="chat"></div>
  <button class="mostrar" (click)="toggleLogin()">mostrar</button>

  
</div>