.carga{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.example-container {
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
  
  
    width: 100vw;
    height: 100vh;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: rgb(246, 47, 110);
    border-right: 5px solid rgba(0, 0, 0, 0.586);
    color: white;
  }
  
  




body {
    font-family: Arial, sans-serif;
}
.chat-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}
.message {
    background-color: #f2f2f2;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
.user-message {
    background-color: #aaffaa;
    text-align: right;
}
.input-container {

    width: 100%;
    display: flex;
    justify-content: center;
}

#message-input{
    width: 80%;
}



.marco-texto {
   
    position: absolute;
    
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    width: 100%;
    height: auto;

    padding: 20px;
    display: flex;
    justify-content: center;
    align-self: center;

}
