
<!--Chat-->
<div class="marco">
  <div class="login login-abierto">
  

    <div class="titulo"><h1 class="texto">H.U.M</h1><h3>Habilidad Unicamente Manual</h3></div>
    

    <div class="marco-cajas">


      <div class="marco-cajas2">

        <div class="usuario">
          <input type="text" placeholder="Usuario:" required>
        </div>
        <div class="separador">
        </div>
        <div class="password">
          <input id="password" type="password" placeholder="Contraseña:" required >
          <i (click)="toggleIcono()" id="icono-ojo" class="icono bi bi-eye-slash-fill"></i>
        </div>

        
      </div>
      <span class="indicador">OFF</span>

    </div>


    <div class="boton">
      <a class="b1">Recuperar contraseña</a>
      <button class="b2">Registros</button>
      <button class="b3">Inicio</button>
    </div>
    

  </div>
  <div class="barrera"></div>
  <button class="mostrar" (click)="toggleLogin()">mostrar</button>
</div>

  